body {
  padding: 15px;
}

#backplate {
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
}

.display {
  position: absolute;
  border-collapse:collapse;
  border-spacing:0;
  border-color:black;
  border-style:solid;
  border-width:1px;
  left: 130px;
  top: 380px;
  width: 334px;
  height: 170px;
}

#temperature {
  text-align: center;
  font-size: 80px;
  color: #71ff33;
}

#fan {
  top: 20px;
  text-align: left;
  font-size: 20px;
  color: #71ff33;
  font-family: monospace;
}

#humidity {
  text-align: left;
  font-size: 20px;
  color: #71ff33;
  font-family: monospace;
}
