body {
  padding: 15px;
}

#backplate {
	position: relative;
	top: 0;
	left: 0;
	z-index: -1;
}

.display {
  position: absolute;
  border-collapse:collapse;
  border-spacing:0;
  left: 130px;
  top: 380px;
  width: 334px;
  height: 170px;
}

#temperature {
  text-align: center;
  font-size: 80px;
  color: #71ff33;
}

#fan {
  top: 20px;
  text-align: left;
  font-size: 20px;
  color: #71ff33;
  font-family: monospace;
}

#humidity {
  text-align: left;
  font-size: 20px;
  color: #71ff33;
  font-family: monospace;
}

.spin {
  position: absolute;
  border: 10px solid #f3f3f3;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: spin 2s linear infinite;
  top: 10px;
  left: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
